# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Database files
*.db
*.sqlite3

# VS Code settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Logs and temp files
logs/
*.log
*.tmp

# Python dependency files
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all node_modules and build files
node_modules/
dist/
build/

# Ignore compiled Python files
*.pyo
*.pyd
*.pyc
